html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #dfd3d3; /* -------- custom background color ----------- */
    font-family: cursive; /* -------- custom font ----------- */
    color: #313335; /* -------- custom font color ----------- */
}
/* -------- custom section ----------- start */
header {
    box-shadow: 0 .25rem .25rem rgb(0, 0, 0, .5);
}
:any-link {
    color: #154997
}
.btn-primary {
    background-color: #154997;
    border-color: #fdf3e6;
    color: #fdf3e6;
}
.logo {
    inline-size: 50px;
    box-shadow: 0 .25rem .25rem rgb(0, 0, 0, 0.5);
    /*border-radius: 50%;*/
}
.nav-link.active {
    background-color: #a4aebd !important;
    inline-size: auto
}
.even-row {
    background-color: #fdf3e6; /* Light grey for even rows in the table */
}

.pagination .page-link {
    background-color: #cabfbf; /* Custom blue background */
    color: #ffffff; /* White text */
}

.pagination .page-link:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #ffffff; /* Keep text white */
}

.pagination .page-item.active .page-link {
    background-color: #a4aebd; /* Green background for active page */
    border-color: #28a745; /* Match the border color */
    color: #ffffff; /* White text */
}
.pagination .page-item.disabled .page-link {
    background-color: #a4aebd; /* Green background for active page */
    color: #ffffff; /* White text */
}
.img:hover {
    opacity: 50;
    height: 110%;
}
    /* -------- custom section ----------- end */