html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #dfd3d3; /* -------- custom background color ----------- */
    font-family: cursive; /* -------- custom font ----------- */
    color: #313335; /* -------- custom font color ----------- */
}
/* -------- custom section ----------- start */
header {
    box-shadow: 0 .25rem .25rem rgb(0, 0, 0, .5);
}
:any-link {
    color: #154997
}
.btn-primary {
    background-color: #154997;
    border-color: #fdf3e6;
    color: #fdf3e6;
}
.logo {
    inline-size: 50px;
    box-shadow: 0 .25rem .25rem rgb(0, 0, 0, 0.5);
    /*border-radius: 50%;*/
}
.nav-link.active {
    background-color: #a4aebd !important;
    inline-size: auto
}
/* -------- custom section ----------- end */